@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=PT+Serif&display=swap');
// font-family: 'Open Sans', sans-serif;
// font-family: 'PT Serif', serif;

$color-primary: #2874F0;


*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'PT Serif', serif;
    a{
        text-decoration: none;
        color: black;
    } 
}

.heading{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.subheading{
    font-family: 'Open Sans', sans-serif;
}

.cart-button{
    margin: 10px;
    font-size: 18px;
    i{
        
        padding: 10px;
    }
}
h5{
    color: grey;
}

button{
    padding: 10px 40px 10px 40px;
    border-radius: 4px;
    color: $color-primary;
    background-color: white;
    border: none;
    font-weight: bold;
    &:focus{
        border: none;
        outline: none;
    }
}

.search-bar{
    border-radius: 20px;
    margin: 2px;
    display: inline-flex;
    input{
        width: 100%;
        border-radius: 2px 0px 0px 2px;
        padding: 8px;
        border: none;
        &:focus{
            outline: none;
        }
    }
    button{
        border-radius: 0px 2px 2px 0px;
        background-color: white;
        border: none;
        padding: 10px 15px;
        &:hover i{
            color: grey;
        }
    }
}

.rating{
    color: gold;
    fill: chartreuse;
}
  
  .App{
      background-color: rgb(245, 245, 245);
  }
  
  .Home{
      margin: 20px 100px 30px 100px;
        display: flex;
        .filter-column{
            box-shadow: rgb(233, 233, 233) 2px 4px 6px;
            background-color: white;
            width: 300px;
            padding: 15px;
            margin-right: 20px;
        }
        .home-content{
            flex: 2;
        }
  }

  .Footer{
      background-color: rgb(48, 48, 48);
      height: 500px;
      color: white;
  }


  @media only screen and (max-width: 1280px) {
    .Home{
        margin: 0px 2px 0px 2px;
        .filter-column{
            display: none;
        }
    }
}








@import './navbar.scss';
@import './productcard.scss';
@import './productpage.scss';








  

  
  
  
 
  
