
.product-card{
    display: flex;
    flex-direction: column;
    .card-image{
        flex: 2;
        object-fit: cover;
        width: 100%;
        border-radius: 4px 4px 0px 0px;      

    }
    .product-details{
        background-color: white;
        border-radius: 0px 0px 4px 4px;
        padding: 4px;
        text-align: center;
        .product-name{
            font-weight: bold;
            font-size: 18px;
        }
        .product-offer{
            color : green;
        }
    }
            &:hover{
            transform: scale(1.01);
        }
}

.product-card-large{
    .product-details{
        text-align: left;
    }
    .card-image{
        position: relative;
        img{
            object-fit: cover;
            width: 100%;
        }
        i{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 2em;
            color: lightgrey;
        }
    }
}

.product-card-extended{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    margin: 10px auto;
    width: 80%;
    position: relative;
    box-shadow: rgb(218, 218, 218) 1px 1px 6px;
    &:hover{
        transform: none;
    }
    i{
        position: absolute;
        font-size: 1.5em;
        color: lightgrey;
        right: 10px;

    }
    .product-details{
        flex: 2;
        display: flex;
        justify-content: space-between;
        .product-features{
            display: flex;
            flex-direction: column;
            text-align: left;
        }
        .product-action{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            .rating{
                font-size: 1.6em;
            }
        }
    }
    .card-image{
            flex : 1;
            object-fit: cover;
            max-width: 200px;
            max-height: 200px;
            margin-right: 10px;
    }
}




.view{
    background-color: white;
    .view-header{
        padding: 20px;
        margin-bottom: 20px;
        border: black 1px 1px 1px 1px;
        display: flex;
        justify-content: space-between;
        button{
            width: 100px;
            box-shadow: rgb(202, 202, 202) 1px 1px 2px;
        }
        
    }
    .product-list{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        padding: 0px 1% 20px 1%;
    }
    
}

.productl-list{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.cart{
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.726);
    max-width: 1000px;
    padding: 5px;
    padding-bottom: 40px;
    box-shadow: rgb(202, 202, 202) 1px 1px 6px;

    .cart-checkout{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 8% 0px 8% ;
        span{
            display: flex;
            align-items: center;
            strong{
                margin-right: 20px;
                font-size: 1rem;
            }
            button{
                background-color: #2874F0;
                color: white;
            }
        }
    }

}

@media only screen and (max-width: 1600px) {
    .view{
        margin: 2px;
    }
}

@media only screen and (max-width: 1000px) {
    .cart{
        margin-top: 0px;
    }
    .product-card-extended{
        width: 95%;
    }
}


@media only screen and (max-width: 768px) {
    .product-card-extended{
        .product-details{
            flex-direction: column;
            ul{
                display: none;
            }
            .product-action{
                align-items: flex-start;
            }
        }
    }
}